body {
  min-height: 1000px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #292B2C;
  border-color: #00B2FF;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  text-decoration: underline;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle {
	background-color: #292B2C !important;
	border: 1px solid #3D3F40;
}
