{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>{% block head_title %}Domino's Pizza{% endblock %}</title>

    {% include 'head_css.html' %}

      <style>
      {% block style %}{% endblock %}
      </style>



  </head>

  <body>
  {% include 'navbar.html' %}

    
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Menu</h1>
        <p class="lead text-muted">Order from the wide variety of vegetarian, non-vegetarian pizzas, sides and drinks.</p>
      </div>
      <p>
        <br>
        <a href='{% url "cart" %}' id="topmost_button_left" class="btn btn-primary topmost_button_left"><i class="fa fa-shopping-cart fa-navbar-cart" style="font-size: 1.7em;"></i> <span id="cart-count-badge" class="badge"> {{ request.session.cart_item_count}} </span> &nbsp;Proceed to Checkout</a>
        &nbsp;<br class="gap"><br class="gap">
        <button type="button" class="btn btn-secondary" style="border: 1px solid red;"><a href="#" id="topmost_button_right"><img src="{% static 'img/glyphicons-7-user-add.png' %}">&nbsp; Sign In</a></button>
      </p>
    </section>
    
    
    
{% block jumbotron %}
          
            {% endblock %}
    <div class="container">
            

          
            {% block content %}

            {% endblock %}
              

    </div> <!-- /container -->

    {% include "javascript.html" %}

    <script>
      $(document).ready(function(){
        {% block jquery %}
        {% endblock %}

      });
    </script>
    
    
  </body>
</html>
