{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>{% block head_title %}Domino's Pizza{% endblock %}</title>

    {% include 'head_css.html' %}

      <style>
        footer
        {
          padding: 30px 15px;
          margin-bottom: 30px;
          background-color: #eee;
        }
      {% block style %}{% endblock %}
      </style>



  </head>

  <body>
    <span id="top"></span>
  {% include 'navbar.html' %}

    
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Menu</h1>
        <p class="lead text-muted">Order from the wide variety of vegetarian, non-vegetarian pizzas, sides and drinks.</p>
      </div>
      <p>
        <br>
        <a href='{% url "cart" %}' id="topmost_button_left" class="btn btn-primary topmost_button_left"><img src="{% static 'img/glyphicons-540-cart-tick.png' %}">&nbsp;&nbsp;Proceed to Checkout</a>
        &nbsp;<br class="gap"><br class="gap">
        <button type="button" class="btn btn-default"><a href="#" id="topmost_button_right"><img src="{% static 'img/glyphicons-7-user-add.png' %}">&nbsp; Sign In</a></button>
      </p>
    </section>
    
    
    
{% block jumbotron %}
          
            {% endblock %}
    <div class="container">
            

          
            {% block content %}

            {% endblock %}
              

    </div> <!-- /container -->

    {% include "javascript.html" %}

    <script>
      $(document).ready(function(){
        {% block jquery %}
        {% endblock %}

      });
    </script>
    
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#top">Back to top</a>
        </p>
        <p>&copy; <a href="{% url 'location' %}>Table</a></p>
        <p>Designed with <img src="{% static 'img/glyphicons-heart-empty.png' %}"> by <a href="https://www.linkedin.com/in/shubham-mehta-b15a54a0/">Shubham Mehta</a> and <a href="https://www.linkedin.com/in/apul1421/">Apul Gupta</a> on <a href="https://getbootstrap.com">Bootstrap</a></p>
      </div>
    </footer>
    
  </body>
</html>
