{% extends "base.html" %}

{% block content %}

        <div class="">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/media/products/veg_extravaganza.png" width="200" height="200" class="img-responsive" alt="Veg Extravaganza">
              <h4>Veg Extravaganza</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/media/products/cloud9.jpg" width="200" height="200" class="img-responsive" alt="Cloud 9">
              <h4>Cloud 9</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/media/products/chefs_veg_wonder.jpg" width="200" height="200" class="img-responsive" alt="Chef's Veg Wonder">
              <h4>Chef's Veg Wonder</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" style="display: relative; top: 30px;">
              <img src="/media/products/burger-pizza-premium-veg/burger-pizza-premium-veg-4_NAMmdIU.png" width="200" height="200" class="img-responsive" alt="Burger Pizza: Premium Veg">
              <h4>Burger Pizza: Premium Veg</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Pending Orders</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Order No.</th>
                  <th>Items</th>
                   <th>Details</th>
                </tr>
              </thead>
              <tbody>
              {% for order in object_list %}
                <tr>
                  <td>{{ order.id }}</td>
                  <td>{{ order.cart.cartitem_set.count }}</td>
                  <td>{% for i in order.cart.cartitem_set.all %}<b>{{ i.item.get_title }}</b>  Qty : {{ i.quantity }}</td>
                        {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<br><br>


{% endblock %} 




